* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 48px;
    padding-right: 20px;
    box-sizing: border-box;
    background: #E0F2F7;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
        width: 102px;
        height: 36px;
        background: #ffffff;
        border: 2px solid #A9E2F3;
        border-radius: 5px;
    }
}

main {
    height: 480px;
    .goods-list {
        margin-top: 48px;
        display: flex;
        justify-content: space-around;
        .goods-item {
            width: 240px;
            height: 240px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: center;
            background-color: #EFF8FB;
            h3 {
                display: flex;
                width: inherit;
                justify-content: center;
            }
        }
    }
} 
